@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html {
  animation: overflow-x-hidden 18s 0.1s 1 forwards;
}

body {
  animation: overflow-hidden 18s 0.1s 1 forwards;
}

@keyframes overflow-hidden {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

@keyframes overflow-x-hidden {
  0% {
    overflow-x: visible;
  }
  90% {
    overflow-x: visible;
  }
  100% {
    overflow-x: hidden;
  }
}


/* ------------------------------------------------------------------------------- */
/* ------------------------------------ INTRO ------------------------------------ */
/* ------------------------------------------------------------------------------- */



.container {
  background: linear-gradient(90deg, rgba(241,241,241,1) 13%, rgba(244,244,244,1) 40%, rgba(237,237,237,1) 66%, rgba(249,249,249,1) 85%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 6vw;
  height: 6vw;
  background: #e0e0e0;
  box-shadow: 0 0 0 #cccccc,
              0 0 0 #ffffff,
              10px 10px 10px #cccccc inset,
              -10px -10px 10px #ffffff inset;
  animation: animacion-cuadro 3s cubic-bezier(0.16, 1, 0.3, 1) 1s forwards, desaparece-elemento 3s 8s forwards;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.box .saludo {
  font-size: 1.2rem;
  font-weight: 500;
  width: 320px;
  margin: 20px;
  visibility: hidden;
  animation: aparece-elemento 2s 4s ease forwards, desaparece-elemento 3s 8s forwards;
}


@keyframes animacion-cuadro {
    0% {
      width: 6vw;
      height: 6vw;
      background: #f0f0f0;
      box-shadow:  0 0 0 #878787,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 6vw;
      height: 6vw;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #878787,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    50% {
      width: 6vw;
      height: 24vw;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #878787,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    100% {
      width: 42vw;
      height: 18vw;
      background: #fafafa;
      box-shadow:  20px 20px 15px #878787,
                   0 0 0 #ffffff,
                   0 0 0 #cccccc inset,
                   5px 5px 5px #ffffff inset;
    }
}


@keyframes aparece-elemento {
  0% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes desaparece-elemento {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}



/* ------------------------------------------------------------------------------- */
/* ------------------------------------ MAIN ------------------------------------- */
/* ------------------------------------------------------------------------------- */




main {
  background: linear-gradient(90deg, rgba(241,241,241,1) 13%, rgba(244,244,244,1) 40%, rgba(237,237,237,1) 66%, rgba(249,249,249,1) 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  animation: animacion-main 0.1s 11s ease forwards;
}

.main-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 85vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow:  20px 20px 15px #878787,
               0 0 0 #ffffff,
               0 0 0 #cccccc inset,
               5px 5px 5px #ffffff inset;
  animation: animacion-aside 2s 11s 1 ease;
  z-index: 10;
}

.main-section {
  width: 55vw;
  height: 85vh;
  margin-left: 5vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow:  20px 20px 15px #878787,
               0 0 0 #ffffff,
               0 0 0 #cccccc inset,
               5px 5px 5px #ffffff inset;
  animation: animacion-main-section 2s 11s 1 ease;
  z-index: 10;
}


@keyframes animacion-main {
  0% {
    display: none;
    position: absolute;
    bottom: 200vh;
  }
  90% {
    display: none;
    position: absolute;
    bottom: 200vh;
  }
  100% {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

@keyframes animacion-aside {
  0% {
    width: 30vw;
    height: 10vh;
    transform: translateY(-90vh);
  }
  30% {
    width: 30vw;
    height: 10vh;
  }
  100% {
    width: 30vw;
    height: 85vh;
  }
}

@keyframes animacion-main-section {
  0% {
    width: 55vw;
    height: 10vh;
    transform: translateY(90vh);
  }
  30% {
    width: 55vw;
    height: 10vh;
  }
  100% {
    width: 55vw;
    height: 85vh;
  }
}

.contenedor-foto-y-nombre {
  width: 25vw;
  height: 40vh;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  animation: aparece-elemento 3s 13s ease forwards;
}

.foto-perfil {
  width: 17vw;
  height: 17vw;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #aeaec0, 
              -10px -10px 20px #ffffff,
              -4px -4px 4px #07070720 inset, 
              4px 4px 4px #ffffff80 inset;
}

.nombre {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

.lista-perfil {
  width: 25vw;
  list-style-type: none;
  text-align: center;
  visibility: hidden;
  animation: aparece-elemento 3s 14s ease forwards;
}

.lista-perfil li {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.sector-botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  visibility: hidden;
  animation: aparece-elemento 3s 15s ease forwards;
}

.contenedor-boton {
  margin: 0px 15px;
}

.contenedor-boton a i {
  transition: all 0.5s ease;
}

.contenedor-boton a i:hover {
  color: #1a75bf;
  cursor: pointer;
  transform: scale(1.3);
}

.contenedor-boton a:visited {
  color: #000000;
  text-decoration: none;
}

@keyframes aparece-elemento {
  0% {
    opacity: 0%;
    visibility: visible;
  }
  100% {
    opacity: 100%;
    visibility: visible;
  }
}


.main-section h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    visibility: hidden;
    animation: aparece-elemento 3s 13s ease forwards;
}

.slider-container {
  height: 75%;
  width: 85%;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  box-shadow: 12px 12px 16px 0 #00000030 inset,
              -8px -8px 12px 0 #ffffff25 inset,
              12px 12px 16px #aeaec0, 
              -8px -8px 12px #ffffff;
  visibility: hidden;
  animation: aparece-elemento 3s 15s ease forwards;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 50px;
  margin: 0 0.2em 1em;
  transition: all 0.5s ease;
}

.menu label:hover {
  background-color: #1a75bf;
  transform: scale(1.2);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.7s ease-out;
}

.slide-1 {
  background-image: url("https://i.ibb.co/yhsTq9K/proyecto-Final.png");
  border-radius: 10px;
  box-shadow: 12px 12px 16px 0 #00000030 inset,
              -8px -8px 12px 0 #ffffff25 inset,
              12px 12px 16px #aeaec0;
}
.slide-2 {
  background-image: url("https://i.ibb.co/6swBswY/proyecto-Final2.png");
  border-radius: 10px;
  box-shadow: 12px 12px 16px 0 #00000030 inset,
              -8px -8px 12px 0 #ffffff25 inset,
              12px 12px 16px #aeaec0;
}
.slide-3 {
  background-image: url("https://i.ibb.co/g7FGH5L/proyecto-Petshop.png");
  border-radius: 10px;
  box-shadow: 12px 12px 16px 0 #00000030 inset,
              -8px -8px 12px 0 #ffffff25 inset,
              12px 12px 16px #aeaec0;
}



/* ------------------------------------------------------------------------------- */
/* ----------------------------------- NAV BAR ----------------------------------- */
/* ------------------------------------------------------------------------------- */

.separador {
  width: 100%;
  height: 20vh;
  background: linear-gradient(90deg, rgba(241,241,241,1) 13%, rgba(244,244,244,1) 40%, rgba(237,237,237,1) 66%, rgba(249,249,249,1) 85%);
}

.contenedor-navbar {
  width: 100%;
  height: 15vh;
  background-color: #10101095;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.link-contacto {
  text-decoration: none;
  color: #fafafa;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.75s ease;
}

.link-contacto:hover {
  cursor: pointer;
  letter-spacing: 0.15rem;
  transform: scale(1.015);
  text-shadow: 0 0 0.05rem #eaeaea;
}



/* ------------------------------------------------------------------------------- */
/* ------------------------------------ CARDS ------------------------------------ */
/* ------------------------------------------------------------------------------- */


.titulo-mis-proyectos {
  width: 100%;
  height: 10vh;
  background: linear-gradient(90deg, rgba(241,241,241,1) 13%, rgba(244,244,244,1) 40%, rgba(237,237,237,1) 66%, rgba(249,249,249,1) 85%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.titulo-mis-proyectos h2 {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 500;
}

.sector-cards {
  width: 100%;
  height: 75vh;
  background: linear-gradient(90deg, rgba(241,241,241,1) 13%, rgba(244,244,244,1) 40%, rgba(237,237,237,1) 66%, rgba(249,249,249,1) 85%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 25vw;
  height: 60vh;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow:  20px 20px 15px #878787,
               0 0 0 #ffffff,
               0 0 0 #cccccc inset,
               5px 5px 5px #ffffff inset;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.titulo-card {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.link-imagen-card {
  width: 100%;
  height: 80%;
  transition: all 0.5s ease;
}

.link-imagen-card:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.imagen-card {
  width: 100%;
  height: 100%;
}

.contenedor-arriba-card {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contenedor-abajo-card {
  width: 90%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.descripcion-card {
  text-align: justify;
  font-size: 0.85rem;
  font-weight: 400;
}

.fecha-card {
  width: 100%;
  text-align: right;
  color: #2a2a2a90;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}






/* ------------------------------------------------------------------------------- */
/* -------------------------------- MEDIA QUERIES -------------------------------- */
/* ------------------------------------------------------------------------------- */

@media (min-width: 1px) and (max-width: 425px) {

  @keyframes animacion-cuadro-mobile {
    0% {
      width: 15vw;
      height: 15vw;
      background: #f0f0f0;
      box-shadow:  0 0 0 #878787,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 15vw;
      height: 15vw;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #878787,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    50% {
      width: 15vw;
      height: 45vw;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #878787,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    100% {
      width: 80vw;
      height: 30vw;
      background: #fafafa;
      box-shadow:  20px 20px 15px #878787,
                   0 0 0 #ffffff,
                   0 0 0 #cccccc inset,
                   5px 5px 5px #ffffff inset;
    }
}

.box {
  height: 15vw;
  width: 15vw;
  animation: animacion-cuadro-mobile 3s cubic-bezier(0.16, 1, 0.3, 1) 1s forwards, desaparece-elemento 3s 8s forwards;
}

.box .saludo {
  width: 75vw;
  text-align: center;
  font-size: 1rem;
}

.main-section {
  display: none;
}

.main-aside {
  width: 80vw;
  height: 70vh;
  animation: animacion-aside-mobile 2s 11s 1 ease;
}

@keyframes animacion-aside-mobile {
  0% {
    width: 80vw;
    height: 10vh;
    transform: translateY(-90vh);
  }
  30% {
    width: 80vw;
    height: 10vh;
  }
  100% {
    width: 80vw;
    height: 70vh;
  }
}

@keyframes aparece-elemento {
  0% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes desaparece-elemento {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}

.contenedor-foto-y-nombre {
  width: 90%;
  height: 40%;
  margin: 0px 0px 25px;
  animation: aparece-elemento 3s 13s ease forwards;
}

.foto-perfil {
  width: 140px;
  height: 140px;
}

.lista-perfil {
  width: 75%;
  animation: aparece-elemento 3s 14s ease forwards;
}

.sector-botones {
  width: 95%;
  margin-top: 40px;
  animation: aparece-elemento 3s 15s ease forwards;
}

.contenedor-boton {
  width: fit-content;
  height: fit-content;
  margin: 0px 2px;
}

.contenedor-boton a {
  color: #070707;
}

.separador {
  display: none;
}

.contenedor-navbar {
  width: 100%;
  height: 150px;
}

.link-contacto {
  width: fit-content;
}

.navbar {
  height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sector-cards {
  flex-direction: column;
  width: 100%;
  height: 210vh;
}

.card {
  width: 80%;
  height: 60vh;
}

}

@media (min-width: 426px) and (max-width: 768px) {

    @keyframes animacion-cuadro-mobile {
    0% {
      width: 15vw;
      height: 15vw;
      background: #f0f0f0;
      box-shadow:  0 0 0 #878787,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
    }
    25% {
      width: 15vw;
      height: 15vw;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #878787,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    50% {
      width: 15vw;
      height: 45vw;
      background: #f8f8f8;
      box-shadow:  10px 10px 10px #878787,
                   10px 10px 10px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    100% {
      width: 80vw;
      height: 30vw;
      background: #fafafa;
      box-shadow:  20px 20px 15px #878787,
                   0 0 0 #ffffff,
                   0 0 0 #cccccc inset,
                   5px 5px 5px #ffffff inset;
    }
}

.box {
  height: 15vw;
  width: 15vw;
  animation: animacion-cuadro-mobile 3s cubic-bezier(0.16, 1, 0.3, 1) 1s forwards, desaparece-elemento 3s 8s forwards;
}

.box .saludo {
  width: 75vw;
  text-align: center;
  font-size: 2rem;
}

.main-section {
  display: none;
}

.main-aside {
  width: 80vw;
  height: 80vh;
  animation: animacion-aside-mobile 2s 11s 1 ease;
}

@keyframes animacion-aside-mobile {
  0% {
    width: 80vw;
    height: 10vh;
    transform: translateY(-90vh);
  }
  30% {
    width: 80vw;
    height: 10vh;
  }
  100% {
    width: 80vw;
    height: 80vh;
  }
}

.contenedor-foto-y-nombre {
  width: 90%;
  height: 40%;
  margin: 0px 0px 25px;
}

.foto-perfil {
  width: 180px;
  height: 180px;
}

.lista-perfil {
  width: 75%;
}

.sector-botones {
  width: 80%;
  margin-top: 40px;
}

.contenedor-boton {
  width: fit-content;
  height: fit-content;
  margin: 0px 2px;
}

.separador {
  display: none;
}

.contenedor-navbar {
  width: 100%;
  height: 150px;
}

.link-contacto {
  width: fit-content;
}

.navbar {
  height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sector-cards {
  flex-direction: column;
  width: 100%;
  height: 210vh;
}

.card {
  width: 60%;
  height: 60vh;
}

}
